<script type="text/template" class="page">
    <h2>
        <%- rc.pageTitle %>
    </h2>

    <ul>
        <% _.each( rc.pageItems, function( pageItem ){ %>

        <li>

            <%- pageItem.name %>

            <% if ( pageItem.hasOlympicGold ){ %>
            <em>*</em>
            <% } %>

        </li>

        <% }); %>
    </ul>


    <% var showFootnote = _.any(
        _.pluck( rc.pageItems, "hasOlympicGold" )
    ); %>


    <% if ( showFootnote ){ %>

        <p style="font-size: 12px ;">

            <em>* Olympic gold medalist</em>

        </p>

    <% } %>

</script>